form {
    max-width: 900px;
    margin: auto;
    background: #f3f4f6;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 25px;
    font-weight: 600;
}
input,
textarea {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 12px;
    border: none;
    background: #e5e7eb;
    font-size: 0.95rem;
    transition: 1s;
}
button {
    width: 100%;
    margin-top: 18px;
    padding: 14px;
    border: none;
    border-radius: 14px;
    background: #000000;
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
   transform: scale(1.1); 
    background: #004af7;
}
h1{
  text-align: center;
  border: none;
  padding: 15px;
  color: crimson;
  background-color: #000000;
}
body{
  background-color: burlywood;
}