* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: burlywood;
    padding: 40px 20px;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 25px;
    color: #000000;
    border: solid 3px burlywood ;
}




form {
    max-width: 900px;
    margin: auto;
    background: #f3f4f6;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 25px;
    font-weight: 600;
}
h4{
  text-align: center;
  margin-bottom: 30px;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 12px;
    border: none;
    background: #e5e7eb;
    font-size: 0.95rem;
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 14px;
    border: none;
    border-radius: 14px;
    background: #020617;
    color: rgb(255, 3, 3);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
   transform: scale(1.1); 
    background: #0f172a;
}

.empty,
.details {
    max-width: 900px;
    margin: 0 auto 25px;
    background: #000000;
    padding: 40px 20px;
    border-radius: 18px;
    text-align: center;
    color: #fa0505;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}



.place-card {
    max-width: 900px;
    margin: 0 auto 20px;
    background: #000000;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
}

.place-card h3 {
    margin-bottom: 8px;
    color: #111827;
}

.place-card p {
    color: #6b7280;
    margin-bottom: 10px;
}



.place-card button {
    float: right;
    background: #000000;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.9rem;
}

.place-card button:hover {
    background: #fb0e0e;
}

.place-header {
    display: table;
    align-items: center;           
    margin-bottom: 10px;
}

.place-header h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
}





